.nav-header {
    background-color:white;
    display: flex;
    justify-content: space-between;
    // border: 2px solid purple;
    box-shadow: -1px 4px 6px 1px rgb(92, 90, 90);
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 1;
}

.logo-container {
  height: 100px;
  width: 100px;
  align-self: center;
  // border: 2px solid red;
  margin-left: 100px;
  display: flex;
  margin-top: 50px;

  p{
    font-size: 26px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self:flex-start;
    margin-top: 15px;
  }

  .logo{
    margin-right: 12px;
    margin-bottom: 25px;
    color: red;
  }
}


// .dropdown {
//   background-color: darkorange;
// }

.reveal {
  background-color: darkorange;
  
}

.search-bar-box {
  // background-color: greenyellow;
  align-self: center;
  // box-shadow: -1px 4px 6px 1px rgb(92, 90, 90);
  // border-radius: 50%;
  outline: none;
}

.search-text {
  border-radius: 20px;
  height: 35px;
  width: 300px;
  border: 1px solid rgb(202, 199, 199);
  box-shadow: -1px 4px 6px 1px rgb(187, 184, 184);
  padding-left: 25px;
  font-weight: 500;
  outline: none;
}

