.nav-header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    border: 2px solid purple;
}

.logo {
  height: 50px;
  width: 50px;
  
  border: 2px solid red;
}

// .dropdown {
//   background-color: darkorange;
// }

.reveal {
  background-color: darkorange;
  
}

.search-bar-box {
  background-color: greenyellow;
  align-self: center;
}

