.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
  }
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .close-x {
    position: absolute;
    top: 10px;
    left: 7px;
    cursor: pointer;

    :hover{
      background-color: darkgray;
      border-radius: 50px;
    }
    
  }

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 
  .login-input {
    margin-left: 20px;
  }
 
  .login-form-box {
    // outline: 1px solid black;
    padding: 20px;
    background: white;
    position: relative;
    border-radius: 25px;
  }

  .signup-form {
    outline: 1px solid black;
    padding: 20px;
    background: white;
    position: relative;
  }
  
header {
  margin-left: 5%;
}

h1, h5 {
  margin-bottom: 0px;
}

.login-form-container .signup-form {
  display: flex;
  justify-content: center;
}

.login-top {
  display:flex;
  // border-bottom: 1px solid lightgray;
  margin-left: 10px;
}

.login-submit {
  background-color: red;
  color: white;
  border-radius: 25px;
  margin: 10px;
  padding:5px;
}

.demo-user-button {
  background-color: red;
  color: white;
  border-radius: 25px;
  // margin: 0 0 5px 0;
  padding:5px;
}

.login-title {
  font-size: 24px;
  font-weight: 400;
  
}

.login-form > input {
  margin: 5px; 
  height: 30px;
  width:400px;
  padding-left: 20px;
  border-radius: 20px;
}

.signup-title {
  font-size: 24px;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 20px;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
}

.signup-submit {
  background-color: red;
  color: white;
  border-radius: 25px;
  // margin: 0 0 5px 0;
  padding:5px;
  margin-top: 10px;
  height: 40px;
}

.signup-inputs > input {
  margin: 5px; 
  height: 30px;
  width:400px;
  padding-left: 20px;
  border-radius: 20px;
}

.birthdate {
  height:30px;
  width: 330px;
  border-radius: 20px;
  margin-left: 10px;
  padding-left: 8px;
}

.signup-inputs > label {
  margin-left: 10px;
}

