
.listing-show-box {
    margin: 0 100px 0 100px;
    padding: 0 100px 0 100px;

}

.listing-title {
    font-size: 45px;
}

.top-show {
    padding-top: 100px;
}

.photo-box{
    width: 1000px;
    height: 500px;
    background-color: lightcoral;
}

.host-title {
    font-size: 25px;
    // border-bottom: 1px solid lightgray;
}

.border-line {
    width: 50vw;
    border-bottom: 1px solid lightgray;
}

.reviews {
    margin-top: 10px;
}

.description-box-show {
    width: 50vw;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 0 20px 0;
    margin-bottom: 15px;
}

.calendar-box {
    height: 400px;
    width: 50vw;
    margin-bottom: 100px;
}

.show-map {
    height: 480px;
    width: 50vw;
    background-color: lightgreen;
    margin-bottom: 40px;
}
