
.users-dropdown-btn {
    position: relative;
    padding: 5px;
    border: 1px solid gray;
    align-self: center;
    border-radius: 40%;
    margin: 5px;
    
}

.users-dropdown-btn:hover .login-buttons {
    display: block;
}

.login-buttons {
    position: absolute;
    display: none;
    top: 30px;
    right: 0;
    background-color: rebeccapurple;
    border: 2px solid orange;
    border-radius: 3px;
    padding: 10px;
    width: 250px;
    z-index: 1;
    font-family: $font;
    text-align: left;
    box-shadow: -1px 4px 6px 1px black;
}


.bars {
    padding: 3px;
}


.user-icon{
    padding: 3px;
}



