
.users-dropdown-btn {
    position: relative;
    padding: 5px;
    border: 1px solid rgb(204, 202, 202);
    align-self: center;
    border-radius: 30px;
    
    margin-right: 100px;

    // :hover{
    //     box-shadow: -1px 4px 6px 1px black;
    // }
    
}

.users-dropdown-btn:hover .login-buttons {
    display: block;
    box-shadow: -1px 4px 6px 1px rgb(92, 90, 90);
    border-radius: 25%;
    height: 200px;
    cursor: pointer ;
    
    // box-shadow: -1px 4px 6px 1px black;
}

// .users-dropdown-btn:active .login-buttons {
//     display: block;
// }

.login-buttons {
    position: absolute;
    display: none;
    top: 35px;
    right: 0;
    background-color: white;
    // border: 2px solid orange;
    border-radius: 3px;
    padding: 10px;
    width: 200px;
    // margin:20px;
    z-index: 1;
    font-family: $font;
    text-align: center;
    box-shadow: -1px 4px 6px 1px black;

    li {
        margin: 10px 0 10px 0;
    }
    
}

.users-dropdown-btn:hover .nav-logout-button{
    display: block;
    box-shadow: -1px 4px 6px 1px rgb(92, 90, 90);
    border-radius: 25%;
    height: 200px;
    cursor: pointer ;
    
    // box-shadow: -1px 4px 6px 1px black;
}

.nav-logout-button {
    position: absolute;
    display: none;
    top: 35px;
    right: 0;
    background-color: white;
    // border: 2px solid orange;
    border-radius: 3px;
    padding: 10px;
    width: 200px;
    // margin:20px;
    z-index: 1;
    font-family: $font;
    text-align: center;
    box-shadow: -1px 4px 6px 1px black;
}


.bars {
    padding: 5px 5px 5px 5px;
    // height: 50px;
    // width: 50px;
}


.user-icon{
    padding: 5px 5px 5px 5px;
    // height: 50px;
    // width: 50px;
}



